@import '../../variables.less';

.custom-input-wrapper {
  position: relative;

  .custom-input-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .custom-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid transparent;
    border-radius: var(--input-radius);
    background-color: var(--input-bg);
    font-size: 1rem;
    transition: border 0.2s ease;
    text-align: center;
    box-shadow: var(--box-shadow);

    @media (min-width: @desktop-width) {
      text-align: left;
      padding: 0.75rem 1.5rem;
    }

    &.align-left {
      text-align: left;
    }

    &:focus {
      outline: none;
      border-color: var(--primary);
    }
  }

  .toggle-password-visibility {
    position: absolute;
    right: 1rem;
    bottom: 0.2rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;

    .eye-icon {
      width: 24px;
      height: 20px;
    }
  }
}
