@import '../../variables.less';

.task-list-container {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  max-width: @desktop-width;

  @media (min-width: @desktop-width) {
    gap: 1.5rem;
  }
}
