@import '../../variables.less';

.task-list-container {
  min-height: 100vh;
  padding: 5rem 0.5rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @grid-break) {
    padding: 5rem 1rem 1rem 1rem;
  }
}

.task-list-grid {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  max-width: @desktop-width;
  padding-bottom: 3.5rem;

  @media (min-width: @grid-break) {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
    padding-bottom: 0;
  }

  .no-task {
    font-size: 15px;
    text-align: center;
    grid-column: span 2;
    padding: 10% 0;

    @media (min-width: @grid-break) {
      font-size: 22px;
    }
  }
}
